    <div class="container-fluid bg-red style-6 sec-2">
        <div class="wrapper dark">
            <div>
            <div class="">
                <h2 class="">When you hire a Get Amped electrician you get service with a smile</h2>
            </div>
            <div class="d-sm-flex  flex-wrap mt-2">
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Electrical advice and project guidance</p></div>
                </div>
                <div class="d-flex py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Transparent, competitive pricing</p></div>
                </div>
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>On time arrival</p></div>
                </div>
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Clear and consistent communication</p></div>
                </div>
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Friendly, down-to-earth service</p></div>
                </div>
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Fast Response Rates</p></div>
                </div>
                <div class="d-flex  py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>High availability</p></div>
                </div>
                <div class="d-flex py-4 border-btm ">
                <div class="pr-4">
                    <img src="/uploads/siteImages/checkmark-m.svg" alt="">
                </div>
                <div><p>Accurate quotes</p></div>
                </div>
            </div>
            </div>
        </div>
    </div>