{% extends "_layout.twig" %}

{% set posts = craft.entries().section('careers').all() %}


{% block content %}
<div class="media-entries careers">
   <div class="media-content dark">
      <div class="container-fluid hero-header" >
         <div class="wrapper">
            <div class="d-flex flex-column">
               <div class="">
               <p class="pre-header">Careers</p>
                  <h1 class="">Work For Us</h1>
               </div>
            </div>
         </div>
      </div>

      <div class="single-svg">
         {% include '_partials/svg/lg-round-grey.svg' %}
      </div>

      <div class="container-fluid style-4 small-image-wrapper" >
         <div class="wrapper">
            <div class="d-lg-flex">
               <div class="left-size">
                  <div class="bg-img" style="background-image: url('/uploads/images/Work-for-us.jpg')">
               </div>
               </div>

               <div class="right-size">
                  <p class="intro-text ">
                     We’re looking for a registered and experienced electrician to join our busy and growing team. A person with the right skills and passion who is genuinely interested to make a positive difference to our business as we grow. In return, your skills will be recognised and rewarded by a company that values their staff through professional development and remuneration.
                  </p>
               </div>
            </div>
         </div>
      </div>

   </div>


   <div class="container-fluid style-4 body-content" >
      <div class="wrapper">
            {% for post in posts %}
      <div>
         <div class="d-flex">
            <div class="media-nav left-size">
            <h3>Position</h3>
               {% if post.title %}
                  <p class="pre-header">{{post.title}}</p>
               {% endif %}
               <ul>

               </ul>
            </div>

            <div class="media-body right-size">
               {% if post.jobDescription %}
                  {{post.jobDescription}}
               {% endif %}

               <div class="btn dark">
                  {% if post.buttonLink %}
                     <a href="{{ post.buttonLink }}">
                        {% include '_partials/svg/btn-icon-left.svg' %}
                        <p>{{ post.buttonText }}</p>
                        {% include '_partials/svg/btn-icon-arrow.svg' %}
                     </a>
                  {% endif %}
               </div>
            </div> 
         
         </div>
      </div>

      {% endfor %}
      </div>
   </div>
</div>



{% endblock %}