{% extends "_layout.twig" %}
{% set docTitle = 'Thank You | Get Amped Electrical ' %}



{% block content %}

        <div class="container-fluid bg-red style-6 sec-2 thank-you">
            <div class="wrapper dark">
                <div>
                    <div class="">
                        <p>Thank you</p>
                        <h1 class="">Thanks For Reaching Out</h1>
                    </div>
                    
                </div>
            </div>
        </div>



{% endblock  %}