{% set imgQuality = {
  quality: 60,
} %}
{% set featureImage = entry.heroImage.one() %}



    <div class="container-fluid hero-header" >
        <div class="wrapper">
            <div class="">
                {% if entry.title %}
                    <p class="pre-header">{{ entry.title }}</p>
                {% endif %}
                {% if entry.heroTitle %}
                    <h1>{{ entry.heroTitle | widont }}</h1>
                {% endif %}  
            </div>
        </div>
    </div>


    <div class="style-3">
        <div class="wrapper-svg">
            {% if entry.heroImage|length %}
                {% set featureImage = entry.heroImage.one() %}
                <div class="bg-img bg-height" style="background-image: url('{{ featureImage.getUrl(imgQuality) }}');">
                    <div class="bg-grad-1">
                                        <div class="absolute-wrapper">
                        <div class="single-svg">
                            {% include '_partials/svg/lg-cap-grey.svg' %}
                        </div>
                    </div>
                    <div class="right-size dark">
                        <p class="intro-text">
                            {% if entry.heroText %}
                                {{ entry.heroText }}
                            {% endif %}
                        </p>
                    </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>




