{% extends "_layout.twig" %}
{% set entries = craft.entries().section('blog') %}
{% set featureImage = entry.blogImage.one() %}


{% block content %}
<div class="blog-content dark">
  <div class="container-fluid hero-header" >
      <div class="wrapper">
          <div class="d-flex flex-column">
          <div class="">
          <p class="pre-header">About Us</p>
              <h1 class="">{{entry.title}}</h1>
          </div>
          </div>
      </div>
  </div>
  <div class="single-svg">
      {% include '_partials/svg/lg-round-grey.svg' %}
  </div>

  <div class="container-fluid style-4 small-image-wrapper" >
    <div class="wrapper">
        <div class="d-lg-flex small-image">
        <div class="left-size">
            <div class="bg-img" style="background-image: url('{{ featureImage.getUrl() }}">
            </div>
        </div>
        <div class="right-size">
        <p class="intro-text ">
            {{entry.blogIntro}}
        </p>
        </div>
        </div>
    </div>
  </div>

</div>
  {% endblock %}