$header-font:  'helvetica_neue_lt_proregular', sans-serif;
$body-font: 'helvetica_neue_lt_pro55_roman', sans-serif;
$pre-header:"sweet-sans-pro", sans-serif;
$button:"sweet-sans-pro", sans-serif;


$md:40px;
$lg:100px;



$white:#fff;
$dark:#111928;

$black:#101213;
$black800:#171A1C;
$dark-grey:#2F3437;
$grey700:#374151;
$medium-grey:#5D696F;
$light-grey: #9CA3AF;
$text-grey:#4B5563;

$red: #C81E1E;
$red-contrast:#E02424;
$pink-contrast: #F05252;
$pink-dark: #F8B4B4;
$pink-light:#FBD5D5;

$shadow:0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.16);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));