@charset "UTF-8";
@font-face {
  font-family: "helvetica_neue_lt_proregular";
  src: url("../fonts/helveticaneueltpromd-webfont.woff2") format("woff2"), url("../fonts/helveticaneueltpromd-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "helvetica_neue_lt_pro55_roman";
  src: url("../fonts/helveticaneueltproroman-webfont.woff2") format("woff2"), url("../fonts/helveticaneueltproroman-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "helvetica_neue_lt_pro_lite";
  src: url("../fonts/helveticaneueltprolt-webfont.woff2") format("woff2"), url("../fonts/helveticaneueltprolt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  max-width: 2000px;
  min-width: 320px;
  overflow-x: hidden;
  padding-top: 70px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

p, li {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  text-decoration: none;
}

a,
a:hover {
  color: #111928;
  text-decoration: none;
}

p,
p span,
p a,
a {
  color: #111928;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
  color: #fff;
}
.dark .pre-header {
  color: #C81E1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica_neue_lt_proregular", sans-serif;
  font-weight: 500;
  color: #111928;
}

h1 {
  font-size: 56px;
  line-height: 1em;
  margin: 0;
}
@media (min-width: 992px) {
  h1 {
    font-size: 100px;
  }
}

h2 {
  font-size: 43px;
  line-height: 1.1em;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  h2 {
    font-size: 80px;
  }
}

h3 {
  font-size: 40px;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 48px;
  }
}

h4 {
  font-size: 35px;
}
@media (min-width: 992px) {
  h4 {
    font-size: 23px;
  }
}
@media (min-width: 1600px) {
  h4 {
    font-size: 30px;
  }
}

.intro-text {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 100;
}
@media (min-width: 1200px) {
  .intro-text {
    font-size: 36px;
  }
}

p.pre-header {
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: #C81E1E;
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  p.pre-header {
    font-size: 20px;
  }
}

.btn {
  display: flex;
  padding: 0;
  margin-top: 40px;
}
.btn span,
.btn a {
  line-height: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  background-color: #C81E1E;
  align-items: center;
}
.btn span p,
.btn a p {
  font-size: 14px;
  font-family: "sweet-sans-pro", sans-serif;
  margin: 0 10px 0 10px;
  color: #fff;
}
@media (min-width: 1200px) {
  .btn span p,
  .btn a p {
    font-size: 16px;
    margin: 0 26px 0 20px;
  }
}
.btn span .btn-icon,
.btn a .btn-icon {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .btn span .btn-icon,
  .btn a .btn-icon {
    margin-left: 26px;
  }
}
.btn span .btn-arrow,
.btn a .btn-arrow {
  background-color: #E02424;
  padding: 10px;
}
@media (min-width: 1200px) {
  .btn span .btn-arrow,
  .btn a .btn-arrow {
    padding: 16px;
  }
}
.btn.dark span,
.btn.dark a {
  background-color: #101213;
}
.btn.dark .btn-arrow {
  background-color: #2F3437;
}

figure {
  margin: 0;
}

.bg-img {
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bg-img.bg-height {
  min-height: 380px;
}
@media (min-width: 992px) {
  .bg-img.bg-height {
    min-height: 500px;
  }
}

.bg-grad-1::before {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  left: 20px;
  top: 0;
  background: -webkit-linear-gradient(135deg, rgba(23, 26, 28, 0) 0, rgb(23, 26, 28) 100%);
  background: -moz-linear-gradient(135deg, rgba(23, 26, 28, 0) 0, rgb(23, 26, 28) 100%);
  background: -o-linear-gradient(135deg, rgba(23, 26, 28, 0) 0, rgb(23, 26, 28) 100%);
  background: linear-gradient(135deg, rgba(23, 26, 28, 0) 0, rgb(23, 26, 28) 100%);
}
@media (min-width: 992px) {
  .bg-grad-1::before {
    width: calc(100% - 10vw);
    left: 5vw;
  }
}

.divider-detail {
  height: 25px;
}
.divider-detail svg {
  width: 200%;
  left: -100%;
  position: absolute;
}
@media (min-width: 992px) {
  .divider-detail svg {
    width: 100%;
    left: 0;
  }
}

.single-svg {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 28px;
}
.single-svg svg {
  position: absolute;
  left: -200vw;
  width: 400vw;
}
@media (min-width: 992px) {
  .single-svg svg {
    width: 100%;
    left: 0;
  }
}

.bg-red {
  background-color: #C81E1E;
}

.bg-grey {
  background-color: #F9FAFB;
  overflow: hidden;
}

.bkgd-900 {
  background-color: #101213;
}

.bkgd-800 {
  background-color: #171A1C;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

div[class^=col] {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  z-index: 10;
}
nav .btn a .btn-arrow {
  padding: 13px;
}
nav .navbar-light .navbar-nav .nav-link {
  color: #111928;
}
nav ul {
  list-style: none;
  padding-left: 20px;
}
nav ul li a:hover {
  color: #C81E1E;
}
nav .dropdown-menu {
  border-width: 0;
  border-radius: 0;
}
nav .dropdown-menu.show ul li:hover a {
  color: #C81E1E;
}
nav .navbar-toggler {
  outline-color: transparent;
  border-width: 0;
}
nav.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 1200px) {
  nav.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
}
@media (min-width: 1600px) {
  nav.navbar .nav-item:not(:last-child) {
    margin-right: 55px;
  }
}
nav .dropdown-toggle:empty::after {
  color: #C81E1E;
  content: "∟";
  border: 0;
  padding: 0;
  transform: rotate(-45deg);
  margin-left: 5px;
  margin-top: 4px;
  font-size: 20px;
  font-weight: bolder;
}
@media (min-width: 992px) {
  nav .dropdown-toggle:empty::after {
    margin-left: -10px;
  }
}
nav a#navbarDropdown {
  height: 0;
}
nav .dropdown-menu {
  top: 80%;
  padding: 0;
}
nav.navbar-light .navbar-nav .nav-link {
  color: #111928;
}
nav.navbar-light .navbar-nav .nav-link:hover {
  color: #C81E1E;
}

.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}
.megamenu ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  border-width: 0;
}
.megamenu ul li {
  width: 100%;
  background-color: #f9fafb;
  display: flex;
}
.megamenu ul li a {
  border-left: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
  border-right: 1px solid #E5E7EB;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.megamenu ul li a span {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.megamenu ul li a img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.megamenu ul li a svg path {
  fill: #E5E7EB;
}
.megamenu ul li:nth-of-type(2), .megamenu ul li:nth-of-type(1) a {
  border-top: 1px solid #E5E7EB;
}
@media (min-width: 600px) {
  .megamenu ul li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .megamenu ul li {
    width: 25%;
  }
  .megamenu ul li:nth-of-type(5) a, .megamenu ul li:nth-of-type(6) a, .megamenu ul li:nth-of-type(7) a, .megamenu ul li:nth-of-type(8) a {
    border-bottom-width: 0;
    border-right-width: 0;
  }
}

.error-page .wrapper-error-page {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  min-height: calc(100vh - 70px);
}
.error-page .wrapper-error-page .error-wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5vw;
}
.error-page .wrapper-error-page h1 {
  font-size: 40vw;
}
@media (min-width: 1200px) {
  .error-page .wrapper-error-page h1 {
    font-size: 20vw;
  }
}
.error-page .wrapper-error-page p:not(.btn p) {
  font-size: 35px;
  line-height: 1.3em;
  margin-top: 30px;
}
.error-page .wrapper-error-page .image-wrapper {
  position: relative;
  height: 20px;
  width: 300px;
}
.error-page .wrapper-error-page .image-wrapper img {
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
}
.error-page .footer-header {
  display: none;
}

@media (min-width: 992px) {
  .style-2 .left-size, .style-4 .left-size {
    width: 380px;
    min-width: 380px;
  }
  .style-2 .left-size img, .style-4 .left-size img {
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  .style-2 .left-size, .style-4 .left-size {
    min-width: 460px;
    width: 460px;
  }
  .style-2 .left-size img, .style-4 .left-size img {
    max-width: 460px;
  }
}

.style-3 .right-size {
  padding: 0 30px 40px 30px;
}
@media (min-width: 768px) {
  .style-3 {
    padding-bottom: 7vw;
  }
}
@media (min-width: 992px) {
  .style-3 .right-size {
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 20vw;
  }
}

.style-4 {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.style-4 .intro-text {
  color: #2F3437;
}
.style-4.dark .intro-text {
  color: #9CA3AF;
}
@media (min-width: 992px) {
  .style-4 .divider-detail {
    margin-bottom: 40px;
  }
}

.style-5 .bg-red {
  overflow: hidden;
  position: relative;
}
.style-5 .bg-red .pre-header {
  color: #F8B4B4;
}
.style-5 .iconStyle {
  width: 70px;
}
.style-5 .iconStyle img {
  width: 100%;
}
.style-5 .divider-detail svg {
  width: 200%;
  position: absolute;
  left: unset;
  right: 0;
}
@media (min-width: 768px) {
  .style-5 .divider-detail svg {
    width: 100%;
  }
}
.style-5 .left .max-800,
.style-5 .right .max-800 {
  padding: 50px 20px;
}
.style-5 .max-800 {
  margin: 0 auto;
  padding: 0px;
}
@media (min-width: 768px) {
  .style-5 .intro-text {
    margin-top: 5vw;
  }
  .style-5 .right .max-800,
  .style-5 .left .max-800 {
    padding: 50px 40px;
  }
}
@media (min-width: 992px) {
  .style-5 .half,
  .style-5 .half {
    width: 50%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .style-5 .max-800 {
    max-width: 800px;
  }
  .style-5 .right .max-800,
  .style-5 .left .max-800 {
    margin-right: 0;
    max-width: 800px;
    padding: 5vw 5.7vw;
  }
  .style-5 .text-right p:not(.btn a p) {
    max-width: 530px;
    margin-left: auto;
  }
  .style-5 .right-text .btn {
    justify-content: flex-end;
  }
  .style-5 .right-text {
    text-align: right;
  }
  .style-5 .right-text p {
    max-width: 530px;
    margin-left: auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .style-5 h2 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .style-5 .mg-top-lg {
    margin-top: 5em;
  }
}
@media (min-width: 1600px) {
  .style-5 .right .max-800,
  .style-5 .left .max-800 {
    padding: 90px 80px;
  }
  .style-5 .right .max-800 {
    margin-right: 8%;
  }
}

.style-6 .border-btm {
  margin: 0 10px;
  width: 100%;
  border-bottom: 1px solid #F05252;
}
@media (min-width: 768px) {
  .style-6 .border-btm {
    width: calc(50% - 20px);
  }
}
@media (min-width: 992px) {
  .style-6 .border-btm {
    width: calc(33.333% - 20px);
  }
}
@media (min-width: 1200px) {
  .style-6 .border-btm {
    width: calc(25% - 20px);
  }
}
.style-6.sec-1 p {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
}
.style-6.sec-2 {
  background-image: url("/uploads/siteImages/background-pattern-one.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}
.style-6.sec-2 .wrapper {
  max-width: 1440px;
}
.style-6.sec-2 .wrapper h2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .style-6.sec-2 {
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}
@media (min-width: 992px) {
  .style-6.sec-2 h2 {
    text-align: center;
  }
}

.testimonial {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .testimonial h2 {
    padding-bottom: 80px;
  }
}
.testimonial .testimonial-wrapper {
  position: relative;
  display: flex;
}
.testimonial .testimonial-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 1px;
  background-color: #9CA3AF;
  z-index: -1;
}
.testimonial .testimonial-wrapper .img-wrapper div {
  position: relative;
  max-width: 80px;
  padding-right: 20px;
}
.testimonial .testimonial-wrapper .img-wrapper div img {
  width: 100%;
}
.testimonial .testimonial-wrapper .img-wrapper div::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 200%;
  height: 2px;
  background-color: #C81E1E;
  z-index: -1;
}
@media (min-width: 992px) {
  .testimonial .testimonial-wrapper .img-wrapper div {
    max-width: 300px;
  }
}
.testimonial .testimonial-wrapper .testimonial-text blockquote p {
  font-size: 20px;
  line-height: 1.3em;
  color: #5D696F;
}
@media (min-width: 992px) {
  .testimonial .testimonial-wrapper .testimonial-text blockquote p {
    font-size: 24px;
  }
}
.testimonial .testimonial-wrapper .img-wrapper div,
.testimonial .testimonial-wrapper .testimonial-text {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .testimonial .testimonial-wrapper .img-wrapper div,
  .testimonial .testimonial-wrapper .testimonial-text {
    padding-top: 100px;
  }
}

.swiper-slide {
  padding: 0 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-pagination-bullet-active {
  background-color: #C81E1E;
}

.media-author,
.test-author {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .media-author,
  .test-author {
    margin-top: 60px;
  }
}
.media-author .img-auth,
.test-author .img-auth {
  margin-right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.media-author .img-auth img,
.test-author .img-auth img {
  width: 100%;
}
.media-author .text-auth p span,
.test-author .text-auth p span {
  font-size: 20px;
  font-weight: bold;
}

.test-author p {
  color: #5D696F;
}
.test-author p span {
  color: #101213;
}

.media-author p {
  color: #C81E1E;
}

.pod-wrapper {
  padding: 20px;
}
@media (min-width: 768px) {
  .pod-wrapper {
    padding-bottom: 7vw;
  }
}

.pods {
  max-width: 1600px;
  margin: 0 auto;
}
.pods .pod {
  background-color: #F9FAFB;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #9CA3AF;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.pods .pod:last-of-type {
  border-bottom-width: 0;
}
.pods .pod .pre-header {
  margin-bottom: 40px;
}
.pods .pod h4 {
  margin-top: 25px;
}
.pods .pod:hover {
  background-color: #f3f3f3;
}
@media (min-width: 768px) {
  .pods .pod {
    padding: 4vw;
    width: 50%;
    border-right: 1px solid #9CA3AF;
  }
  .pods .pod:last-of-type {
    border-bottom-width: 1px;
  }
  .pods .pod:nth-of-type(2n) {
    border-right-width: 0;
  }
}
@media (min-width: 992px) {
  .pods .pod {
    width: 25%;
  }
  .pods .pod:nth-of-type(2n) {
    border-right-width: 1px;
  }
  .pods .pod .pre-header {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .pods .pod .pre-header {
    margin-bottom: 100px;
  }
  .pods .pod h4 {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .pods.pod-4 .pod:nth-of-type(4),
  .pods.pod-4 .pod:nth-of-type(3) {
    border-bottom-width: 0px;
  }
}
@media (min-width: 992px) {
  .pods.pod-4 .pod {
    border-bottom-width: 0px;
  }
  .pods.pod-4 .pod:last-of-type {
    border-right-width: 0;
  }
}
@media (min-width: 768px) {
  .pods.pod-8 .pod:nth-of-type(7),
  .pods.pod-8 .pod:nth-of-type(8) {
    border-bottom-width: 0px;
  }
}
@media (min-width: 992px) {
  .pods.pod-8 .pod:nth-of-type(7),
  .pods.pod-8 .pod:nth-of-type(8) {
    border-bottom-width: 1px;
  }
  .pods.pod-8 .pod:nth-of-type(4),
  .pods.pod-8 .pod:last-of-type {
    border-right-width: 0;
  }
  .pods.pod-8 .pod:nth-of-type(5),
  .pods.pod-8 .pod:nth-of-type(6),
  .pods.pod-8 .pod:nth-of-type(7),
  .pods.pod-8 .pod:last-of-type {
    border-bottom-width: 0px;
  }
}
@media (min-width: 992px) {
  .pods.pod-3 .pod {
    width: 33.333%;
  }
}

.contact .bg-img {
  height: 300px;
}
.contact .details-wrapper {
  padding: 40px 0 0;
}
.contact .details-wrapper .contact-detail {
  display: flex;
  margin-bottom: 20px;
}
.contact .details-wrapper .contact-detail img {
  padding: 5px 10px 10px 0;
}
@media (min-width: 576px) {
  .contact .details-wrapper .flex-wrap {
    align-items: flex-start;
  }
  .contact .details-wrapper .contact-detail img {
    padding-right: 20px;
  }
  .contact .details-wrapper .contact-detail:not(:last-of-type) {
    margin-right: 20px;
  }
}
.contact .bg-red .max-800 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contact .bg-red .max-800 .spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contact .contact-detail {
    flex-direction: column;
    align-items: start;
  }
  .contact .contact-detail:first-of-type {
    padding-right: 80px;
  }
}

.form-wrapper {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
}
@media (min-width: 992px) {
  .form-wrapper {
    padding: 80px 20px;
    max-width: 500px;
  }
}
.form-wrapper form {
  width: 100%;
}
.form-wrapper form input, .form-wrapper form textarea {
  width: 100%;
}
.form-wrapper form input {
  padding: 25px 0;
}
.form-wrapper form input,
.form-wrapper form textarea {
  border: none;
  border-bottom: 1px solid #9CA3AF;
  background-color: transparent;
}
.form-wrapper form textarea:focus,
.form-wrapper form input[type=text]:focus,
.form-wrapper form input:focus-visible {
  outline-width: 0;
  border-bottom: 1px solid #C81E1E;
}
.form-wrapper form .form-layout input:first-of-type {
  margin-right: 30px;
}
.form-wrapper form .form-layout textarea {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .form-wrapper form .form-layout {
    display: flex;
    margin-bottom: 30px;
  }
  .form-wrapper form .form-layout textarea {
    margin-top: 0px;
  }
}
.form-wrapper form p label {
  display: none;
}

.hero-header {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .hero-header {
    padding-top: 8vw;
    padding-bottom: 4vw;
  }
}

.wrapper-svg {
  position: relative;
}
.wrapper-svg .residential-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.wrapper-svg .residential-svg svg {
  width: 100%;
  height: 100%;
}
.wrapper-svg .bg-img.bg-height {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 992px) {
  .wrapper-svg {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .wrapper-svg .bg-img.bg-height {
    width: 100%;
  }
}

.homepage .hero {
  background-image: url("/uploads/images/hero-home.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.homepage .hero h1 .x {
  font-size: 48px;
  line-height: 1em;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.homepage .hero h1 .x:first-of-type {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #101213;
  background-image: url("/uploads/images/hero-1a.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.homepage .hero h1 .x:first-of-type span {
  text-align: left;
}
.homepage .hero h1 .x:nth-of-type(2) {
  padding-top: 45px;
}
.homepage .hero h1 .x:last-of-type {
  padding-bottom: 45px;
}
.homepage .hero h1 .x .note {
  display: none;
  font-family: "helvetica_neue_lt_pro_lite", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .homepage .hero h1 .x {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 8vw;
  }
}
@media (min-width: 992px) {
  .homepage .hero h1 {
    display: flex;
    flex-direction: column;
  }
  .homepage .hero h1 .x {
    display: block;
  }
  .homepage .hero h1 .x span {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
  }
  .homepage .hero h1 .x .note {
    display: block;
    width: 37%;
    padding-right: 60px;
    margin: 0;
  }
  .homepage .hero h1 .x:first-of-type, .homepage .hero h1 .x:nth-of-type(2), .homepage .hero h1 .x:last-of-type {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .homepage .hero h1 .x:last-of-type {
    color: #101213;
    background-image: url("/uploads/images/hero-3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .homepage .hero h1 .x:last-of-type .note {
    padding-left: 100px;
    width: 100%;
    font-size: 20px;
  }
}
@media (min-width: 1260px) {
  .homepage .hero h1 .x {
    padding-left: 0;
    padding-right: 0;
    font-size: 100px;
  }
}
.homepage .hero div {
  padding: 40px 20px;
  background-image: url("/uploads/images/hero-3.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.homepage .hero div p:first-of-type {
  font-size: 35px;
  margin-bottom: 20px;
  line-height: 1em;
}
.homepage .hero div p:last-of-type {
  font-size: 20px;
}
@media (min-width: 768px) {
  .homepage .hero div {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  .homepage .hero div {
    display: none;
  }
}
.homepage .style-5.sec-1 {
  padding: 40px 20px 0;
}
@media (min-width: 768px) {
  .homepage .style-5.sec-1 {
    padding: 40px 40px 0;
  }
}
.homepage .bkgd-900 {
  background-image: url("/uploads/siteImages/bg-home-side.svg");
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: contain;
}
.homepage .bkgd-800 .pod-wrapper {
  background-image: url("/uploads/siteImages/bg-home-btm.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}
.homepage .style-5 .intro-text {
  margin-top: 30px;
}
.homepage .bg-img-one.bg-red {
  background-position: 0 0;
}
.homepage .contact h2 {
  margin-bottom: 4.5vw;
}
@media (min-width: 1200px) {
  .homepage section h2 {
    max-width: 90%;
  }
}

.services {
  background-color: #171A1C;
  background-image: url("/uploads/siteImages/bg-btm-left.svg");
  background-repeat: no-repeat;
  background-position: 0% 120%;
  background-size: contain;
}
.services .style-2 {
  padding-top: 6vw;
  padding-bottom: 6vw;
}
.services .style-2 h3 {
  margin-bottom: 40px;
}
.services .style-2 .intro-text {
  color: #9CA3AF;
}
@media (min-width: 992px) {
  .services .style-2 h3 {
    margin-bottom: 0px;
  }
  .services .style-2 .intro-text {
    padding-left: 40px;
  }
}
@media (min-width: 1200px) {
  .services .style-2 .intro-text {
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .service-inner .wrapper-svg .single-svg {
    position: static;
  }
}
.service-inner .bg-img.bg-height {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.service-inner .right-size {
  margin-top: 20px;
}
.service-inner .right-size .intro-text {
  min-height: 190px;
  display: flex;
  align-items: flex-end;
  padding-top: 60px;
  max-width: 1060px;
  margin-left: auto;
}

.style-5.sec-2 .alternate:nth-of-type(2n) .d-lg-flex {
  flex-direction: row-reverse;
}
.style-5.sec-2 .alternate:nth-of-type(2n) .half .max-800 {
  margin-right: auto;
}
@media (min-width: 992px) {
  .style-5.sec-2 .alternate:nth-of-type(2n) .half .max-800 {
    margin-left: 0;
  }
}
.style-5.sec-2 .bg-img {
  min-height: 300px;
  background-position: 50% 0%;
}
.style-5.sec-2 .half {
  margin: 0;
}

.about .small-image-wrapper {
  padding-bottom: 60px;
}
.about .small-image-wrapper .bg-img {
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 40px;
}
.about .small-image-wrapper .intro-text {
  color: #374151;
  font-size: 24px;
}
@media (min-width: 768px) {
  .about .small-image-wrapper {
    padding-bottom: 7vw;
  }
  .about .small-image-wrapper .intro-text {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .about .small-image-wrapper .bg-img {
    margin-bottom: 0;
  }
  .about .small-image-wrapper .intro-text {
    font-size: 36px;
  }
}
.about .style-5 {
  margin-bottom: 40px;
}
.about .style-5 .half {
  margin: 0;
}
.about .style-5 .text-right p:not(.btn a p) {
  max-width: 620px;
}
@media (min-width: 768px) {
  .about .style-5 {
    margin-bottom: 6vw;
  }
}
.about .style-5.sec-1 {
  padding: 0px 20px 0;
}
.about .style-5.sec-1 .intro-text {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .about .style-5.sec-1 {
    padding: 0px 40px 0;
  }
}
@media (min-width: 992px) {
  .about .style-5.sec-1 {
    padding: 0px 20px 0;
  }
}
.about .services .intro-text {
  padding-left: 0;
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.about .services h2 {
  margin-bottom: 40px;
}
.about .services .right-size p {
  font-size: 24px;
  color: #909CA2;
  line-height: 1.7em;
}
@media (min-width: 992px) {
  .about .services .intro-text {
    margin-bottom: 0px;
  }
  .about .services .right-size p,
  .about .services h2 {
    margin-left: 100px;
  }
  .about .services h2 {
    margin-bottom: 80px;
  }
}
.about .pods .pod .pre-header {
  margin-bottom: 0;
  margin-top: 100px;
}
.about .pods .pod h4 {
  margin-top: 50px;
}
.about .pods .pod:hover {
  background-color: #fff;
}

.contact-page .left .max-800 {
  padding: 5vw;
}
.contact-page .divider-detail {
  margin-top: 67px;
}
.contact-page .contact-detail {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.contact-page .contact-detail img {
  padding: 5px 10px 10px 0;
}
@media (min-width: 768px) {
  .contact-page .contact-detail {
    flex-direction: column;
    align-items: start;
    padding-right: 20px;
  }
  .contact-page .contact-detail:last-of-type {
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .contact-page .spread .intro-text {
    max-width: 600px;
  }
}

.media-entries .media-content {
  background-color: #171A1C;
  background-image: url("/uploads/siteImages/bg-btm-left.svg");
  background-repeat: no-repeat;
  background-position: 0% 120%;
  background-size: contain;
}
.media-entries .media-content .small-image-wrapper {
  padding-bottom: 0;
}
.media-entries .media-content .small-image-wrapper .intro-text {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.media-entries .media-content .small-image-wrapper .left-size {
  z-index: 3;
  position: relative;
}
.media-entries .media-content .small-image-wrapper .social-links {
  height: 100px;
  align-items: flex-end;
  display: flex;
  padding: 20px 0;
  z-index: 2;
  position: relative;
}
.media-entries .media-content .small-image-wrapper .social-links a {
  margin-right: 20px;
}
@media (min-width: 992px) {
  .media-entries .media-content .small-image-wrapper .intro-text {
    padding-left: 100px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .media-entries .media-content .small-image-wrapper .right-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .media-entries .media-content .small-image-wrapper .social-links {
    padding-left: 100px;
  }
}
.media-entries .body-content {
  padding-top: 40px;
}
.media-entries .body-content .wrapper .media-nav ul {
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
}
.media-entries .body-content .wrapper .media-nav ul li {
  padding-bottom: 36px;
  border-bottom: 1px solid #D1D5DB;
  margin-bottom: 36px;
}
.media-entries .body-content .wrapper .media-nav ul li a {
  font-size: 30px;
  font-weight: 500;
}
.media-entries .body-content .wrapper .media-nav ul li p {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .media-entries .body-content .wrapper .d-flex {
    flex-direction: row;
  }
  .media-entries .body-content .wrapper .media-body {
    padding-left: 100px;
  }
}
@media (min-width: 1200px) {
  .media-entries .body-content .wrapper {
    padding-top: 70px;
  }
}

.media-entries.careers .d-flex {
  flex-direction: column;
}
.media-entries.careers .small-image-wrapper .bg-img {
  height: 300px;
  max-width: 300px;
}
@media (min-width: 992px) {
  .media-entries.careers .small-image-wrapper .bg-img {
    height: 100%;
    max-width: 460px;
  }
  .media-entries.careers .small-image-wrapper .intro-text {
    padding-bottom: 180px;
  }
}
@media (min-width: 992px) {
  .media-entries.careers .small-image-wrapper::after {
    content: "";
    width: 100%;
    height: 100px;
    background-color: #fff;
    left: 0;
    bottom: -2px;
    position: absolute;
    z-index: 1;
  }
}
.media-entries.careers .body-content .pre-header {
  border-bottom: 1px solid #C81E1E;
}
.media-entries.careers .body-content .media-body p:not(.btn p) {
  margin-bottom: 10px;
}
.media-entries.careers .body-content p a {
  color: #C81E1E;
}
.media-entries.careers .body-content ul {
  margin-bottom: 30px;
}

.media-entries.blog-entries .d-flex {
  flex-direction: column-reverse;
}
.media-entries.blog-entries .small-image-wrapper {
  position: relative;
  overflow: visible;
  margin-bottom: 60px;
}
.media-entries.blog-entries .small-image-wrapper .intro-text {
  padding-top: 0;
  color: #D1D5DB;
}
.media-entries.blog-entries .small-image-wrapper .left-size .bg-img {
  height: 400px;
  background-position: 60% 50%;
}
.media-entries.blog-entries .small-image-wrapper .small-image {
  display: flex;
  flex-direction: column-reverse;
}
.media-entries.blog-entries .small-image-wrapper .small-image .social-links {
  position: absolute;
  left: 20px;
  bottom: -60px;
  z-index: 1;
}
@media (min-width: 768px) {
  .media-entries.blog-entries .small-image-wrapper .small-image .social-links {
    left: 40px;
  }
}
.media-entries.blog-entries .small-image-wrapper::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #fff;
  left: 0;
  bottom: -1px;
  position: absolute;
  z-index: 1;
}
@media (min-width: 992px) {
  .media-entries.blog-entries .small-image-wrapper {
    margin-bottom: 0px;
  }
  .media-entries.blog-entries .small-image-wrapper .small-image {
    display: flex;
    flex-direction: row;
  }
  .media-entries.blog-entries .small-image-wrapper .small-image .social-links {
    left: 0px;
    position: relative;
  }
}
.media-entries.blog-entries .body-content {
  margin-top: 40px;
  padding-bottom: 0;
}
.media-entries.blog-entries .body-content p {
  margin-bottom: 50px;
}

.blog {
  padding-bottom: 60px;
  background-color: #171A1C;
  background-image: url("/uploads/siteImages/bg-btm-left.svg");
  background-repeat: no-repeat;
  background-position: 0% 120%;
  background-size: contain;
}
.blog .pod-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.blog .pods .pod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .blog .pods .pod {
    width: 50%;
  }
  .blog .pods .pod h4 {
    padding-top: 40px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .blog .pods .pod .pre-header {
    margin-bottom: 0px;
  }
}
.blog .pods.pod-1 .pod {
  border: none;
  background-color: #C81E1E;
  padding: 0;
  width: 100% !important;
  overflow: hidden;
}
.blog .pods.pod-1 .pod:hover {
  background-color: #E02424;
}
.blog .pods.pod-1 .pod .pre-header {
  color: #F8B4B4;
}
.blog .pods.pod-1 .pod img {
  width: 100%;
  margin-top: 20px;
}
.blog .pods.pod-1 .pod > div:first-of-type {
  padding: 4vw;
}
.blog .pods.pod-1 .pod > div:last-of-type .bg-detail {
  width: 100%;
  max-width: 300px;
  display: none;
}
.blog .pods.pod-1 .pod > div:last-of-type .bg-detail:first-of-type {
  margin-bottom: 40px;
}
.blog .pods.pod-1 .pod > div:last-of-type .bg-detail.bottom {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .blog .pods.pod-1 .pod {
    flex-direction: row;
  }
  .blog .pods.pod-1 .pod h3 {
    max-width: 80%;
  }
  .blog .pods.pod-1 .pod img {
    max-width: 460px;
    margin-top: 0;
  }
  .blog .pods.pod-1 .pod > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .blog .pods.pod-1 .pod > div:last-of-type {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0;
    padding-right: 4vw;
  }
  .blog .pods.pod-1 .pod > div:last-of-type .bg-detail {
    display: block;
    width: 100%;
    max-width: 300px;
  }
}

.footer {
  padding-bottom: 60px;
}
.footer .footer-header {
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer .footer-header h2 {
  margin-bottom: 0;
  font-size: 56px;
}
@media (min-width: 992px) {
  .footer .footer-header h2 {
    font-size: 100px;
  }
}
.footer .footer-nav {
  padding-top: 60px;
}
.footer .footer-nav .footer-wrapper .logo {
  padding-right: 60px;
}
.footer .footer-nav .footer-wrapper .details {
  max-width: 960px;
  width: 100%;
}
.footer .footer-nav .footer-wrapper .details .pre-header {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-bottom: 0;
}
.footer .footer-nav .footer-wrapper .details ul {
  list-style: none;
  padding-left: 0;
}
.footer .footer-nav .footer-wrapper .details ul li {
  margin-bottom: 10px;
}
.footer .footer-nav .footer-wrapper .details ul li a, .footer .footer-nav .footer-wrapper .details ul li p {
  font-size: 16px;
}
.footer .footer-nav .footer-wrapper .details ul.contact-us li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer .footer-nav .footer-wrapper .details ul.contact-us li img {
  margin-right: 30px;
}
@media (min-width: 600px) {
  .footer .footer-nav .footer-wrapper .details {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-nav .footer-wrapper .details ul.contact-us li {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .footer .footer-nav .footer-wrapper .logo img {
    width: 200px;
  }
  .footer .footer-nav .footer-wrapper .details {
    margin-top: 40px;
  }
  .footer .footer-nav .footer-wrapper .details .pre-header {
    margin-top: 0;
    margin-bottom: 55px;
  }
}
@media (min-width: 992px) {
  .footer .footer-nav .footer-wrapper {
    display: flex;
  }
  .footer .footer-nav .footer-wrapper .logo {
    padding-right: 20%;
  }
  .footer .footer-nav .footer-wrapper .details {
    margin-top: 0;
    justify-content: flex-start;
  }
  .footer .footer-nav .footer-wrapper .details .sitemap {
    min-width: 40%;
    margin-right: 20px;
  }
  .footer .footer-nav .footer-wrapper .details ul li {
    margin-bottom: 30px;
  }
  .footer .footer-nav .footer-wrapper .details ul.contact-us li {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-nav .footer-wrapper .details ul li a, .footer .footer-nav .footer-wrapper .details ul li p {
    font-size: 25px;
  }
  .footer .footer-nav .footer-wrapper .logo {
    padding-right: 30%;
  }
}
@media (min-width: 1600px) {
  .footer .footer-nav .footer-wrapper .logo {
    padding-right: 25%;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 3.8vw;
  }
  .footer .footer-header {
    padding-top: 7vw;
    padding-bottom: 3.8vw;
  }
}

/*# sourceMappingURL=main.css.map */
