{% extends "_layout.twig" %}
{% set docTitle = 'Thank You | Get Amped Electrical ' %}

{% block content %}
<div class="container-fluid bg-red style-6 sec-2 thank-you">
    <div class="wrapper">
        <div>
            <div class="intro  dark">
                <p>{{ craft.app.request.getQueryParam('from') }}</p>
                {% if craft.app.session.hasFlash('notice') %}
                <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
                {% elseif craft.app.session.hasFlash('error') %}
                    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
                {% endif %}
                <h1 class="">Thanks For Reaching Out</h1>
            </div>
            <div class="flex-wrapper">
                <div class="">
                </div>
                <div>
                    <p class="intro-text">One of our friendly team will be in touch with you shortly.</p>
                    <p>If you have an emergency, give us a call on <a href="tel:+6442986260">(04) 2986260</a>. Otherwise, feel free to head back over to our website and check out our range of services. Whether you are remodelling your home, need a new piece of equipment installed, or just need an electrician in a hurry, we’re here to answer the call.</p>
                    <div class="btn dark">
                        {% embed '_partials/buttons' %}
                        {% block url %} / {% endblock %}
                        {% block title %}Back Home{% endblock %}
                        {% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}