{% extends "_layout.twig" %}

{# Commercial content entries#}
{% set entries = craft.entries().section('commercial') %}


{% block content %}
<div class="service-inner">
{% include '_partials/res-comm/inner-nav-page.twig' %}
{% include '_partials/res-comm/alternating-blocks.twig' %}
{% include "_partials/upsSection.twig" %}
</div>
{% endblock %}

