/* hello */

@font-face {
    font-family: 'helvetica_neue_lt_proregular';
    src: url('fonts/helveticaneueltpromd-webfont.woff2') format('woff2'),
         url('fonts/helveticaneueltpromd-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_pro55_roman';
    src: url('fonts/helveticaneueltproroman-webfont.woff2') format('woff2'),
         url('fonts/helveticaneueltproroman-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



